<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello Admin</h3>
<div>
    <p> A user just contacted us from madesoft academy, see details below
    </p>
    <h4>Name: {{lead.first_name}} {{user.last_name}}</h4>
    <h4>Email: {{lead.email}}</h4>
    <h4>Phone number: {{lead.phone_number}}</h4>
    <h4>Message: {{lead.message}}</h4>
</div>


