<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello {{student.first_name}} {{student.last_name}}</h3>
<div>
    <p>Your mentor({{mentor.first_name}} {{mentor.last_name}}) just scheduled a new {{event.category}} event, please find the date and link below, or log into the academy for more
    </p>
    <h5>Date: {{event.created_at}}</h5>
    <h5>Meeting Link: {{event.link}}</h5>
</div>