<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello {{mentor.first_name}} {{mentor.last_name}}</h3>
<div>
    <p>
        {{user.first_name}}  {{user.last_name}} just submitted his report on {{assignment.title}}, please see to it on the academy.
    </p>
</div>