<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello Admin</h3>
<div>
    <p>The system Couldn't find any mentor for {{user.first_name}} {{user.last_name}} on {{program.name}}, please assign a mentor to {{user.first_name}} {{user.last_name}} manually on madesoft academy asap </p>
</div>


