<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello Admin</h3>
<div>
    <p>{{user.first_name}} {{user.last_name}} just asked a question on {{topic.name}}, see question below</p>
    </p>

    <h4 style="margin-left: 10%;">{{topicQuestion.question}}??...... <a style="text-decoration: underline;" href="{{topicQuestionLink}}">Reply</a></h4>
</div>