<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello Admin</h3>
<div>
    <p>{{sale.user.first_name}} {{sale.user.last_name}} just made payment on madesoft academy via paystack
    </p>

    <h4>Amount: {{sale.amount_paid}}</h4>
    <h4>Program: {{sale.program.name}}</h4>
    <h4>Date: {{sale.created_at}}</h4>

</div>