<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello  {{first_name}}</h3>
<div>
    <h2>
        {{pilot_details.vehicle_number}}, Trip Details
    </h2>
    <h5>Pilot's Name: {{pilot_details.driver_name}}</h5>
    <h5>Pilot Phone Number: {{pilot_details.phone_number}}</h5>
    <h5>Vehicle Type: {{pilot_details.vehicle_type}}</h5>
    <h5>Pickup: {{pickup}}</h5>
    <h5>Drop off: {{drop_off}}</h5>
    <ol>
        <li>
            You can track your shuttle and access the pilot's phone number once the trip starts
        </li>
        <li>
            Our pilots are allowed to wait for 2 minutes at each stop.
        </li>
    </ol>
</div>